<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"О нас"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": 'is--active', 
                },
                {
                    "name":"Наша команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем",
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts, 
                    "active": '', 
                },
            ],
            lang: '',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {# {% include "../block/page/about.twig" with {
                view:"header", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-header", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-about-header  is--h1", 
                heading_level:"h1", 
                heading:"О нас", 
                note_mod:"is--page-about-header-note  is--h4", 
                note_level:"div", 
                note:"<p>Мы&nbsp;видим свое призвание в&nbsp;максимально эффективном управлении жизненными потребностями Клиентов, основанном на&nbsp;нашей инновационной бизнес-модели и&nbsp;профессиональной экспертизе команды HeadOffice.</p>",
            } %} #}
            {% include "../block/page/about.twig" with {
                view:"mission", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-mission", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default-sm  is--h2", 
                heading_level:"h2", 
                heading:"Миссия HeadOffice", 
                note_mod:"is--page-default-lg  is--h4  is--page-about-mission", 
                note_level:"div", 
                note:"<p>Мы видим свое призвание в максимально эффективном управлении жизненными потребностями клиентов, основанном на нашей инновационной бизнес-модели и профессиональной экспертизе команды HeadOffice.</p>", 
                btn_view:'link',             
                btn_name:'Наши услуги',             
                btn_link:page.services,             
                btn_attr:'',             
                btn_icon:'icon-next',            
                btn_mod:'is--icon', 
                bg: [path.img,"/default/index-about-bg.jpg"].join(""),   
            } %}
            {% include "../block/page/about.twig" with {
                view:"history", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-history", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-about-history  is--h2", 
                heading_level:"h2", 
                heading:"История HeadOffice", 
                note:"<p>Идея создания HeadOffice принадлежит успешному российскому <br>топ-менеджеру Владиславу Баумгертнеру. Его целью было предоставить людям по&nbsp;всему миру квалифицированный и&nbsp;независимый сервис по&nbsp;управлению качеством жизни, который являлся&nbsp;бы аналогом традиционного семейного офиса, при этом не&nbsp;требовал от&nbsp;клиента постоянного вовлечения в&nbsp;рутинные бизнес-процессы и&nbsp;был разумным по&nbsp;стоимости.</p><p>Владислав привлек к&nbsp;работе высококвалифицированную управленческую команду из&nbsp;признанных международных и&nbsp;российских профильных экспертов. При их&nbsp;активном участии в&nbsp;компании была создана профессиональная система управления и&nbsp;инфраструктура, часто недоступная традиционным семейным офисам. Бизнес-модель HeadOffice основана на&nbsp;принципах экономики совместного потребления (Sharing economy), что позволяет выбрать наиболее подходящее решение для текущей задачи клиента по&nbsp;оптимальной стоимости, избегая при этом конфликта интересов.</p><p>Клиенты HeadOffice во&nbsp;многом разделяют ценности его основателей —<br>это успешные и&nbsp;энергичные люди с&nbsp;проактивным подходом к&nbsp;жизни, которые стремятся максимально эффективно решать вопросы управления жизненными потребностями&nbsp;— как своими, так и&nbsp;своих</p> ", 
                
                img: [path.img,"/default/about-history-bg.jpg"].join(""),   
            } %}
             {#{% include "../block/page/about.twig" with {
                view:"why", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-why", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-about-why  is--h2", 
                heading_level:"h2", 
                heading:"Почему HeadOffice?",
                note_mod:"  is--h4  is--page-about-why", 
                note_level:"div",  
                note:"<p>HeadOffice — глобальный сервис под руководством команды профессионалов высочайшего уровня. Наши региональные представители и руководители направлений работают в ключевых локациях по всему миру, что позволяет нам оперативно и качественно решать любые возникающие вопросы</p>",  
                img: [path.img,"/default/about-who-bg.jpg"].join(""), 

                card_view: 'adv',
                card_mod: 'is--adv',
                card_list: [
                    {
                        "heading":"Работаем по уникальной для рынка модели годовой подписки", 
                        "note":"Такой формат работы исключает конфликт интересов и позволяет клиентам тратить меньше, сохраняя при этом высочайшее качество услуг.  При этом под каждую задачу клиента мы выбираем подрядчика, способного предложить лучшее качество и стоимость. ", 
                        "img": [path.img,"/default/adv-item2.svg"].join(""),
                    },
                    {
                        "heading":"Обеспечиваем наилучшее качество услуг", 
                        "note":"Мы тщательно проводим отбор подрядчиков и работаем только с проверенными, высококвалифицированными и ответственными профессионалами.", 
                        "img": [path.img,"/default/adv-item1.svg"].join(""),
                    },
                    {
                        "heading":"Приобретаем услуги в интересах клиента и не берем комиссий с подрядчиков", 
                        "note":"HeadOffice полностью выстраивает взаимодействие с подрядчиками, от определения запроса до контроля за исполнением и приемки работ.", 
                        "img": [path.img,"/default/adv-item2.svg"].join(""),
                    },
                    {
                        "heading":"Используем эффективную CRM-систему для взаимодействия с клиентами", 
                        "note":"Система отвечает всем требованиям информационной безопасности. Мы обеспечиваем высочайший уровень защиты и хранения данных и обеспечиваем полную конфиденциальность. ", 
                        "img": [path.img,"/default/adv-item4.svg"].join(""),
                    },
                ],  
                text: '<h3>Рента переворачивает умысел, как и предполагалось. </h3><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p>',
            } %}#}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/cookies/tpl.twig" with {
            prefix:"cookies__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
	</body>
</html> 
