<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"О нас"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": 'is--active', 
                },
                {
                    "name":"Команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем",
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts, 
                    "active": '', 
                },
            ],
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/about.twig" with {
                view:"header", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-header", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-about-header  is--h1", 
                heading_level:"h1", 
                heading:"О нас", 
                note_mod:"is--page-about-header-note  is--h4", 
                note_level:"div", 
                note:"HeadOffice – результат партнёрства состоявшихся профессионалов из всех областей управления жизненными потребностями. У каждого из партнеров HeadOffice за плечами многолетний и разноплановый опыт управления бизнес-проектами. Мы верим в профессионализм и эффективность во всем, чем бы мы ни занимались. ",   
            } %}
            {% include "../block/page/about.twig" with {
                view:"mission", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-mission", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default-sm  is--h2", 
                heading_level:"h2", 
                heading:"Миссия HeadOffice", 
                note_mod:"is--page-default-lg  is--h4  is--page-about-mission", 
                note_level:"div", 
                note:"<p>Мы видим свое призвание в максимально эффективном управлении жизненными потребностями клиентов, основанном на нашей инновационной бизнес-модели и профессиональной экспертизе команды HeadOffice.</p>", 
                btn_view:'link',             
                btn_name:'Наши услуги',             
                btn_link:page.services,             
                btn_attr:'',             
                btn_icon:'icon-next',            
                btn_mod:'is--icon', 
                bg: [path.img,"/default/index-about-bg.jpg"].join(""),   
            } %}
            {% include "../block/page/about.twig" with {
                view:"history", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-history", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-about-history  is--h1", 
                heading_level:"h2", 
                heading:"История HeadOffice", 
                note:"<p>Идея создания HeadOffice принадлежит одному из самых успешных российских топ-менеджеров Владиславу Баумгертнеру. Его основной целью было предоставить людям по всему миру квалифицированный и независимый сервис по управлению качеством жизни, который являлся бы аналогом традиционного семейного офиса, но при этом не требовал от клиента постоянного вовлечения в рутинные бизнес-процессы и был разумным по стоимости.</p><p>Бизнес-модель HeadOffice основана на принципах экономики совместного потребления, что позволяет выбрать наиболее подходящее решение для текущей задачи клиента по оптимальной стоимости, избегая при этом конфликта интересов. Владислав привлек к работе высококвалифицированную управленческую команду из признанных международных и российских профильных экспертов. При их активном участии в компании была создана профессиональная система управления и инфраструктура, часто недоступная традиционным семейным офисам. </p><p>Ценности клиентов Клиенты HeadOffice во многом отражают ценности его основателей – это успешные и энергичные люди с проактивным подходом к жизни, которые стремятся максимально эффективно решить вопрос управления жизненными потребностями для себя и своих близких.</p>", 
                img: [path.img,"/default/about-history-bg.jpg"].join(""),   
            } %}
            {% include "../block/page/about.twig" with {
                view:"why", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-why", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-about-why  is--h1", 
                heading_level:"h2", 
                heading:"Почему HeadOffice?",
                note_mod:"  is--h4  is--page-about-why", 
                note_level:"div",  
                note:"<p>HeadOffice – глобальный сервис с командой профессионалов высочайшего уровня. Наши региональные представители и руководители направлений работают в ключевых локациях по всему миру и знают все об особенностях управления жизненными потребностями клиентов. Это позволяет нам оперативно и качественно решать любые вопросы, стоящие перед клиентом в любой точке мира. </p>", 
                img: [path.img,"/default/about-who-bg.jpg"].join(""), 

                card_view: 'adv',
                card_mod: 'is--adv',
                card_list: [
                    {
                        "heading":"Обеспечиваем наилучшее качество услуг", 
                        "note":"Мы тщательно проводим отбор подрядчиков и работаем только с проверенными, высококвалифицированными и ответственными профессионалами.", 
                        "img": [path.img,"/default/adv-item1.svg"].join(""),
                    },
                    {
                        "heading":"Работаем по уникальной для рынка модели годовой подписки", 
                        "note":"Такой формат работы исключает конфликт интересов и позволяет клиентам тратить меньше, сохраняя при этом высочайшее качество услуг.  При этом под каждую задачу клиента мы выбираем подрядчика, способного предложить лучшее качество и стоимость. ", 
                        "img": [path.img,"/default/adv-item3.svg"].join(""),
                    },
                    {
                        "heading":"Приобретаем услуги в интересах клиента и не берем комиссий с подрядчиков", 
                        "note":"HeadOffice полностью выстраивает взаимодействие с подрядчиками, от определения запроса до контроля за исполнением и приемки работ.", 
                        "img": [path.img,"/default/adv-item2.svg"].join(""),
                    },
                    {
                        "heading":"Используем эффективную CRM-систему для взаимодействия с клиентами", 
                        "note":"Система отвечает всем требованиям информационной безопасности. Мы обеспечиваем высочайший уровень защиты и хранения данных и обеспечиваем полную конфиденциальность. ", 
                        "img": [path.img,"/default/adv-item4.svg"].join(""),
                    },
                ],  
                text: '<h3>Рента переворачивает умысел, как и предполагалось. </h3><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p>',
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
	</body>
</html> 
