<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Главная"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Команда", 
                    "link": page.team,
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем",
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts, 
                    "active": '', 
                },
            ],
            logo_aos:'data-aos="fade-logotip" data-aos-delay="300"',
            nav_aos:'data-aos="fade-up" data-aos-duration="1500"',
            lang_aos:'data-aos="fade-up" data-aos-duration="1500"',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}      
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/index.twig" with {
                view:"header", 
                content_prefix:prefix.section, 
                content_mod:"is--page-index-header", 
                heading_group:"", 
                heading_attr:'data-aos="fade-down" data-aos-delay="300"',
                heading_mod:"is--page-index-header  is--h2", 
                heading_level:"h1", 
                heading:"Профессиональное управление качеством жизни",
                banner: [
                    {
                        img: [path.img,"/default/index-header-item1.jpg "].join(""),
                        aos: 'fade-banner-down' ,
                        delay: '300' 
                    },
                    {
                        img: [path.img,"/default/index-header-item2.jpg "].join(""),
                        aos: 'fade-banner-up',
                        delay: '600' 
                    },
                    {
                        img: [path.img,"/default/index-header-item3.jpg "].join(""),
                        aos: 'fade-banner-up',
                        delay: '900'  
                    },
                    {
                        img: [path.img,"/default/index-header-item4.jpg "].join(""),
                        aos: 'fade-banner-down',
                        delay: '1200' 
                    },
                    {
                        img: [path.img,"/default/index-header-item5.jpg "].join(""),
                        aos: 'fade-banner-up',
                        delay: '1500'  
                    },
                ], 
            } %}
            {% include "../block/page/index.twig" with {
                view:"about", 
                content_prefix:prefix.section, 
                content_mod:"is--page-index-about", 
                note:"<p>Headoffice – это инновационное решение в области управления семейными офисами, реализуемое под руководством команды высококвалифицированных профильных экспертов и региональных представителей в ключевых локациях по всему миру.</p><p>Бизнес-модель HeadOffice значительно усиливает функциональную компетенцию семейного офиса, расширяет его региональное покрытие и предоставляет профессиональную инфраструктуру управления. Такой подход к ведению бизнеса существенно снижает расходы клиента, работая на основе годовой подписки и опираясь на принципы экономики совместного потребления (Sharing Economy). </p>",   
                note2:"<h2>HeadOffice это</h2><p><b>глобальный multifamily office c российскими корнями предоставляющий полный набор услуг для частных лиц и семей со сверхвысоким доходом (UHNW)</b></p><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p>",   
                btn_view:'link',             
                btn_name:'Подробнее',             
                btn_link:'',             
                btn_link:page.about,             
                btn_attr:'',             
                btn_icon:'icon-next',            
                btn_mod:'is--icon', 
                img: [path.img,"/default/index-about-logo.svg "].join(""),
            } %}
            {% include "../block/page/index.twig" with {
                view:"team", 
                content_prefix:prefix.section, 
                content_mod:"is--page-index-team",
                card_view: 'team-slider',
                card_mod: 'is--team-slider',
                card_list: [
                    {
                        "link":page.team, 
                        "heading":"Сервис, который&nbsp;мы создали для себя, но развиваем как бизнес", 
                        "note":"<p>В своей жизни я так и не смог найти сервис, который взял бы на себя решение всех моих повседневных проблем «под ключ». Большинство подрядчиков, с которыми приходилось работать, либо узко специализированы, либо недостаточно профессиональны. К тому же, зачастую они преследовали не мои, а свои собственные коммерческие интересы. </p><p>Мы создали HeadOffice таким, каким должен быть настоящий семейный офис: высокопрофессиональным, со знанием местной специфики и возможностью предоставлять услуги по всему миру, и при этом оптимальным по стоимости. </p>", 
                        "note2":"<p>Я часто сталкивался с тем, что люди что-то от меня хотят, либо зависимы и пристрастны, либо некомпетентны. Поэтому решил сам сделать независимый профессиональный сервис и поделиться им с теми, у кого есть аналогичные потребности</p>", 
                        "name": "Владислав Баумгертнер",
                        "position": "Партнер, основатель HeadOffice",
                        "img": [path.img,"/default/index-silder-item1.jpg"].join(""),
                        "img_xs": [path.img,"/default/index-silder-item1-xs.jpg"].join(""),
                        "sign": [path.img,"/default/index-silder-item1-sign.jpg"].join(""),
                    },                     
                    {
                        "link":page.team, 
                        "heading":"Сервис, который&nbsp;мы создали для себя, но развиваем как бизнес", 
                        "note":"<p>Профессиональный семейный офис – это в том числе вопрос огромного личного и профессионального доверия, которое не приходит одномоментно, однако является результатом многолетней совместной работы и безупречной личной репутации.</p><p>В HeadOffice работает команда единомышленников, собравшихся вместе для того, чтобы сделать безукоризненный по качеству и функционалу продукт, к которому шли всю свою карьеру. У нас нет случайных людей: все сотрудники HeadOffice имеют длительную историю совместных профессиональных отношений.</p><p>Доверие клиентов к HeadOffice также является и результатом безупречной организации нашей работы: эффективной системы управления, тщательного процедур по подбору и контролю сотрудников, налаженных бизнес-процедур и выстроенной инфраструктуры.</p>", 
                        "note2":"<p>Я часто сталкивался с тем, что люди что-то от меня хотят, либо зависимы и пристрастны, либо некомпетентны. Поэтому решил сам сделать независимый профессиональный сервис и поделиться им с теми, у кого есть аналогичные потребности</p>", 
                        "name": "Сергей Бучин",
                        "position": "Партнер, основатель HeadOffice",
                        "img": [path.img,"/default/index-silder-item2.jpg"].join(""),
                        "img_xs": [path.img,"/default/index-silder-item2-xs.jpg"].join(""),
                        "sign": [path.img,"/default/index-silder-item1-sign.jpg"].join(""),
                    }, 
                ],   
                btn_view:'link',             
                btn_name:'Подробнее',             
                btn_link:page.about,             
                btn_attr:'',             
                btn_icon:'icon-next',            
                btn_mod:'is--icon', 
                img: [path.img,"/default/index-about-logo.svg "].join(""),
            } %}

            {% include "../block/page/index.twig" with {
                view:"contacts", 
                content_prefix:prefix.section, 
                content_mod:"is--page-index-contacts", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-index-contacts  is--h1", 
                heading_level:"h2", 
                heading:"Контакты", 
                note_mod:"is--page-index-contacts-note", 
                note_level:"p", 
                note: ['Напишите нам на почту <a href="mailto:',contacts.email,'">',contacts.email,'</a> или позвоните по общему телефону <a href="tel:',contacts.phone_tel,'">',contacts.phone,'</a>'].join(""),
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/cookies/tpl.twig" with {
            prefix:"cookies__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig" with {
            aos:"true",
            cookies:"true",
        }%}
	</body>
</html> 
