<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Недвижимость"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Наша команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем", 
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts,  
                    "active": '', 
                },
            ],
            lang: '',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/services.twig" with {
                view:"card", 
                content_prefix:prefix.section, 
                content_mod:"is--page-services-card", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-services-card  is--h1", 
                heading_level:"h1", 
                heading:"Недвижимость",   
                card_prefix: prefix.card,   
                card_mod: "is--services-item", 
                img: [path.img,"/default/services-item1-card.png"].join(""),
                note:"<p><b>Управление недвижимостью и организация жизненного пространства.</b></p><p>HeadOffice организует все процессы, связанные с приобретением и управлением недвижимостью имуществом так, чтобы клиент всегда чувствовал себя комфортно и безопасно. Мы работаем только с проверенными и независимыми риэлторами, юристами и оценщиками и контролируем весь спектр вопросов – от поиска объектов до оформления документов и подбора персонала.</p>", 
                note2:"<p><b>Управление недвижимостью и организация жизненного пространства.</b></p>", 
                note3:"<p>HeadOffice организует все процессы, связанные с приобретением и управлением недвижимостью имуществом так, чтобы клиент всегда чувствовал себя комфортно и безопасно. Мы работаем только с проверенными и независимыми риэлторами, юристами и оценщиками и контролируем весь спектр вопросов – от поиска объектов до оформления документов и подбора персонала.</p>", 

                desc: [
                    {
                        id:"services-card-01", 
                        heading:"Покупка, продажа и аренда недвижимости ", 
                        ul:[
                            {
                                "li":[
                                    {"name": 'Анализ рынка и подбор оптимально подходящих вариантов'},
                                    {"name": 'Инвестиционный анализ'},
                                ]
                            },
                            {
                                "li":[
                                    {"name": 'Технические и юридические процедуры due diligence'},
                                ]
                            },
                        ]
                    },
                    {
                        id:"services-card-02", 
                        heading:"Финансовое, налоговое и юридическое структурирование", 
                        ul:[
                            {
                                "li":[
                                    {"name": 'Анализ предложений банка по финансированию'},
                                    {"name": 'Получение консультаций по налогообложению'},
                                ]
                            },
                            {
                                "li":[
                                    {"name": 'Разработка оптимальной структуры владения'},
                                    {"name": 'Подготовка документов и сопровождение сделки'},
                                ]
                            },
                        ]
                    },
                    {
                        id:"services-card-03", 
                        heading:"Организация жизненного пространства", 
                        ul:[
                            {
                                "li":[
                                    {"name": 'Строительство, дизайн и ремонт'},
                                    {"name": 'Подбор, обучение персонала и управление им'},
                                    {"name": 'Техническое обслуживание объектов'},
                                    {"name": 'Ведение расчетов, управление платежами'},
                                ]
                            },
                            {
                                "li":[
                                    {"name": 'Обеспечение безопасности объектов недвижимости'},
                                    {"name": 'Взаимодействие с управляющими компаниями и коммунальными службами'},
                                    {"name": 'Хранение необходимой документации'},
                                ]
                            },
                        ]
                    },
                ],

                team_heading:'Команда по недвижимости',
                team_heading_mod:'is--h2  is--page-services-team',
                team_note:'Наша команда состоит из профессионалов, имеющих огромный опыт в решении вопросов, связанных с финансами. Ниже вы можете ознакомиться с их профилями',
                team_note_mod:'is--page-services-team-note',

                team_view: 'team-card',
                team_mod: 'is--team-card',
                team_list: [
                    {
                        "name":"Мария Деюнкер", 
                        "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Виктория Ступина", 
                        "img": [path.img,"/default/team-all-item10.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Шамиль Вафин", 
                        "img": [path.img,"/default/team-all-item11.jpg"].join(""),
                        "link": page.team_card, 
                    },
                ],
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/cookies/tpl.twig" with {
            prefix:"cookies__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
	</body>
</html> 
