<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Казначейство"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Наша команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем", 
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts,  
                    "active": '', 
                },
            ],
            lang: '',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/services.twig" with {
                view:"card", 
                content_prefix:prefix.section, 
                content_mod:"is--page-services-card", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-services-card  is--h1", 
                heading_level:"h1", 
                heading:"Казначейство",   
                card_prefix: prefix.card,   
                card_mod: "is--services-item", 
                img: [path.img,"/default/services-item5-card.png"].join(""),
                note:"<p><b>Взаимодействие с банками, ведение и обслуживание счетов</b></p><p>HeadOffice предоставляет всем своим клиентам услуги профессионального казначейства и берет на себя всю рутинную работу по взаимодействию с банками.</p>", 
                note2:"<p><b>Взаимодействие с банками, ведение и обслуживание счетов</b></p>", 
                note3:"<p>HeadOffice предоставляет всем своим клиентам услуги профессионального казначейства и берет на себя всю рутинную работу по взаимодействию с банками.</p>",                 

                desc: [
                    {
                        id:"services-card-01", 
                        heading:"Основные моменты", 
                        ul:[
                            {
                                "li":[
                                    {"name": 'Рекомендации по выбору банка'},
                                    {"name": 'Открытие и сопровождение банковских счетов'},
                                    {"name": 'Хранение финансовой и расчетной документации'},
                                    {"name": 'Отчеты по счетам и движению денежных средств клиентов'},
                                    {"name": 'Минимизация расходов Клиента на банковские услуги (Cost Management)'},
                                ]
                            },
                            {
                                "li":[
                                    {"name": 'Бюджетирование'},
                                    {"name": 'Помощь в прохождении процедур Know Your Client (KYC) и Compliance'},
                                    {"name": 'Организация расчетов по счетам клиента'},
                                    {"name": 'Рефинансирование/кредитование на привлекательных условиях'},
                                ]
                            },
                        ]
                    },
                ],

                team_heading:'Команда по казначейству',
                team_heading_mod:'fw--800  is--page-services-team',
                team_note:'Наша команда состоит из профессионалов, имеющих огромный опыт в решении вопросов, связанных с финансами. Ниже вы можете ознакомиться с их профилями',
                team_note_mod:'is--page-services-team-note',

                team_view: 'team-card',
                team_mod: 'is--team-card',
                team_list: [
                    {
                        "name":"Мария Деюнкер", 
                        "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Виктория Ступина", 
                        "img": [path.img,"/default/team-all-item10.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Шамиль Вафин", 
                        "img": [path.img,"/default/team-all-item11.jpg"].join(""),
                        "link": page.team_card, 
                    },
                ],
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/cookies/tpl.twig" with {
            prefix:"cookies__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
	</body>
</html> 
