<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Вопросы налогообложения"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Наша команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем", 
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts,  
                    "active": '', 
                },
            ],
            lang: '',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/services.twig" with {
                view:"card", 
                content_prefix:prefix.section, 
                content_mod:"is--page-services-card", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-services-card  is--h1", 
                heading_level:"h1", 
                heading:"Вопросы налогообложения",   
                card_prefix: prefix.card,   
                card_mod: "is--services-item", 
                img: [path.img,"/default/services-item6-card.png"].join(""),
                note:"<p><b>Налоговые консультации, оптимизация налогообложения</b></p><p>Наши эксперты по налогообложению помогут максимально оптимизировать налоговое бремя клиента и подконтрольных ему компаний. HeadOffice помогает определить налоговые последствия проживания в различных странах, подбирает наиболее выгодный вариант налогового резидентства и предоставляет помощь в оформлении всех необходимых документов и прохождении требуемых процедур.</p>", 
                note2:"<p><b>Налоговые консультации, оптимизация налогообложения</b></p>", 
                note3:"<p>Наши эксперты по налогообложению помогут максимально оптимизировать налоговое бремя клиента и подконтрольных ему компаний. HeadOffice помогает определить налоговые последствия проживания в различных странах, подбирает наиболее выгодный вариант налогового резидентства и предоставляет помощь в оформлении всех необходимых документов и прохождении требуемых процедур.</p>",                 

                desc: [
                    {
                        heading:"Основные моменты", 
                        ul:[
                            {
                                "li":[
                                    {"name": 'Налоговые консультации'},
                                    {"name": 'Помощь в выборе налогового резиденства'},
                                    {"name": 'Оценка валютного законодательства'},
                                ]
                            },
                            {
                                "li":[
                                    {"name": 'Налоговое планирование и структурирование'},
                                    {"name": 'Администрирование Контролируемых Иностранных Компаний (КИК)'},
                                    {"name": 'Проведение налогового аудита'},
                                ]
                            },
                        ]
                    },
                ],

                team_heading:'Команда по вопросам налогообложения',
                team_heading_mod:'fw--800  is--page-services-team',
                team_note:'Наша команда состоит из профессионалов, имеющих огромный опыт в решении вопросов, связанных с финансами. Ниже вы можете ознакомиться с их профилями',
                team_note_mod:'is--page-services-team-note',

                team_view: 'team-card',
                team_mod: 'is--team-card',
                team_list: [
                    {
                        "name":"Мария Деюнкер", 
                        "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Виктория Ступина", 
                        "img": [path.img,"/default/team-all-item10.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Шамиль Вафин", 
                        "img": [path.img,"/default/team-all-item11.jpg"].join(""),
                        "link": page.team_card, 
                    },
                ],
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/cookies/tpl.twig" with {
            prefix:"cookies__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
	</body>
</html> 
