<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Наши услуги"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Наша команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": 'is--active', 
                },
                {
                    "name":"Как мы работаем", 
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts, 
                    "active": '', 
                },
            ],
            lang:'',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/services.twig" with {
                view:"page", 
                content_prefix:prefix.section, 
                content_mod:"is--page-services", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-services  is--h1", 
                heading_level:"h1", 
                heading:"Наши услуги", 
                note_mod:"is--page-services-note", 
                note_level:"div", 
                note:"<p>HeadOffice предоставляет спектр услуг по трем основным направлениям: управление капиталом, управление личными потребностями, обслуживание интересов семьи.  Среди наших принципов – системный подход, внимание к деталям, профессионализм и личная ответственность за качество сервиса. Все ключевые услуги, предоставляемые HeadOffice, находятся под управлением квалифицированных профильных экспертов с многолетним опытом работы.</p>",  
                note2:"<p>Представляя интересы наших клиентов, мы помогаем в решении самых разнообразных вопросов. Смотрите ниже информацию об основных направлениях наших услуг.</p>",  

                tabs_view:'base',
                tabs_prefix:prefix.tabs,
                tabs_mod:'',
                tabs_group:'',
                tabs_list:[
                    {
                        "id":"tabs1",
                        "name":"Все",
                        "status":"active",
                        "type":"card",
                        "view":"services",
                        "mod":"is--services",
                        "list":[
                            {
                                "link":page.services_card,
                                "name":"Недвижимость",
                                "img": [path.img,"/default/services-item1.jpg "].join(""),
                            },
                            {
                                "link":page.services_card2,
                                "name":"Инвестиции",
                                "img": [path.img,"/default/services-item2.jpg "].join(""),
                            },
                            {
                                "link":page.services_card3,
                                "name":"Решения для бизнеса",
                                "img": [path.img,"/default/services-item3.jpg "].join(""),
                            },
                            {
                                "link":page.services_card4,
                                "name":"Юридические услуги",
                                "img": [path.img,"/default/services-item4.jpg "].join(""),
                            },
                            {
                                "link":page.services_card5,
                                "name":"Казначейство",
                                "img": [path.img,"/default/services-item5.jpg "].join(""),
                            },
                            {
                                "link":page.services_card6,
                                "name":"Вопросы налогообложения",
                                "img": [path.img,"/default/services-item6.jpg "].join(""),
                            },
                            {
                                "link":page.services_card7,
                                "name":"Lifestyle и организация путешествий",
                                "img": [path.img,"/default/services-item7.jpg "].join(""),
                            },
                            {
                                "link":page.services_card8,
                                "name":"Образование и развитие",
                                "img": [path.img,"/default/services-item8.jpg "].join(""),
                            },
                            {
                                "link":page.services_card9,
                                "name":"Здоровье и медицина",
                                "img": [path.img,"/default/services-item9.jpg "].join(""),
                            },
                            {
                                "link":page.services_card10,
                                "name":"Арт-консалтинг",
                                "img": [path.img,"/default/services-item10.jpg "].join(""),
                            },
                        ] 
                    },
                    {
                        "id":"tabs2",
                        "name":"Семья",
                        "status":"",
                    },
                    {
                        "id":"tabs2",
                        "name":"Личные потребности",
                        "status":"",
                    },
                    {
                        "id":"tabs2",
                        "name":"Капитал",
                        "status":"",
                    },
                ]
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/cookies/tpl.twig" with {
            prefix:"cookies__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
	</body>
</html> 
