<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Команда"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Команда", 
                    "link": page.team, 
                    "active": 'is--active', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем",
                    "link": '',  
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": '', 
                    "link": page.works, 
                    "active": '', 
                },
            ],
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/team.twig" with {
                view:"header", 
                content_prefix:prefix.section, 
                content_mod:"is--page-default-header", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default-header  is--h1", 
                heading_level:"h1", 
                heading:"Команда", 
                note_mod:"is--page-default-note  is--h5", 
                note_level:"div", 
                note:"HeadOffice – результат партнёрства состоявшихся профессионалов из всех областей управления жизненными потребностями. У каждого из партнеров HeadOffice за плечами многолетний и разноплановый опыт управления бизнес-проектами. Мы верим в профессионализм и эффективность во всем, чем бы мы ни занимались. ",   
            } %}
            {% include "../block/page/team.twig" with {
                view:"head", 
                content_prefix:prefix.section, 
                content_mod:"is--page-team-head", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-team-head  is--h3", 
                heading_level:"h2", 
                heading:"Основатели компании", 
                note_mod:"is--page-default-xl  is--page-header-note", 
                note_level:"div", 
                note:"Асинхронное ритмическое поле взаимно. Можно предположить, что капиталистическое мировое общество символизирует сокращенный мнимотакт, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Open-air образует эпитет. Типическое просветляет коммунизм.",   

                card_view: 'team-full',
                card_mod: 'is--team-full',
                card_list: [
                    {
                        "name":"Владислав Баумгертнер", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "img_xs": [path.img,"/default/team-item1-xs.jpg"].join(""),
                        "position":"Партнер, основатель HeadOffice", 
                        "note":"Владислав – один из самых успешных и узнаваемых топ-менеджеров в России с более чем 20-летним опытом руководства крупнейшими российскими и международными компаниями. Начав свою управленческую карьеру в швейцарском технологическом концерне ABB, он затем десять лет возглавлял «Уралкалий», который является мировым лидером на рынке калийных удобрений. ", 
                        "link": page.team_card, 
                    },
                    {
                        "name":"Сергей Бучин", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "img_xs": [path.img,"/default/team-item2-xs.jpg"].join(""),
                        "position":"Партнер, основатель HeadOffice", 
                        "note":"Сергей – высококвалифицированный и эффективный руководитель со специализацией на развитии бизнеса. Сергей является экспертом в области формирования стратегии и оптимизации бизнес-модели, что позволяет достичь положительных финансовых и операционных показателей в минимальные сроки, повысить рентабельность и развить конкурентные преимущества компании. ", 
                        "link": page.team_card, 
                    },
                ],
            } %}
            {% include "../block/page/team.twig" with {
                view:"list", 
                content_prefix:prefix.section, 
                content_mod:"is--page-team-list", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"sr-only", 
                heading_level:"h2", 
                heading:"Члены команды",   

                card_view: 'team-card',
                card_mod: 'is--team-card',
                card_list: [
                    {
                        "name":"Кристоф Г. Ганстер", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Мария Деюнкер", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Роланд Трим", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Михаил Логанов", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Оксана Зубакова", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Алексей Дозорцев", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Анастасия Беляева", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Николай Черемисов", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Алексей Климин", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Виктория Ступина", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Шамиль Вафин ", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Александр Тихонов ", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Денис Беляев", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Лейла Гамрекелидзе ", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Полина Пушкарева", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                ],
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
