<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Наша команда"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Наша команда", 
                    "link": page.team, 
                    "active": 'is--active', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем",
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts, 
                    "active": '', 
                },
            ],
            lang: '',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/team.twig" with {
                view:"header", 
                content_prefix:prefix.section, 
                content_mod:"is--page-default-header", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default-header  is--h1", 
                heading_level:"h1", 
                heading:"Наша команда", 
                note_mod:"is--page-default-note", 
                note_level:"div", 
                note:"<p>Команда HeadOffice – признанные эксперты во всех ключевых областях управления жизненными потребностями с длительной совместной историей профессиональных отношений.</p><p>Цель работы каждого члена команды – максимальный уровень удовлетворенности наших клиентов, эффективное представительство их интересов  и предоставление профессиональной инфраструктуры для поддержания комфортного образа жизни.</p>",   
            } %}
            {% include "../block/page/team.twig" with {
                view:"head", 
                content_prefix:prefix.section, 
                content_mod:"is--page-team-head", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-team-head  is--h2", 
                heading_level:"h2", 
                heading:"Основатели компании", 
                note_mod:"is--page-default-xl  is--page-header-note", 
                note_level:"div", 
                note:"Асинхронное ритмическое поле взаимно. Можно предположить, что капиталистическое мировое общество символизирует сокращенный мнимотакт, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Open-air образует эпитет. Типическое просветляет коммунизм.",   

                card_view: 'team-full',
                card_mod: 'is--team-full',
                card_list: [
                    {
                        "name":"Владислав Баумгертнер", 
                        "img": [path.img,"/default/team-item1.jpg"].join(""),
                        "img_xs": [path.img,"/default/team-item1-xs.jpg"].join(""),
                        "position":"Партнер, основатель", 
                        "note":"Владислав – успешный топ-менеджер в России с более чем 20-летним опытом руководства крупнейшими российскими и международными компаниями. Начав свою управленческую карьеру  в швейцарском технологическом концерне ABB, он затем десять лет возглавлял «Уралкалий», мирового лидера на рынке калийных удобрений.", 
                        "link": page.team_card, 
                    },
                    {
                        "name":"Сергей Бучин", 
                        "img": [path.img,"/default/team-item2.jpg"].join(""),
                        "img_xs": [path.img,"/default/team-item2-xs.jpg"].join(""),
                        "position":"Партнер, основатель", 
                        "note":"Сергей – высококвалифицированный и эффективный руководитель со специализацией на развитии бизнеса. Сергей является экспертом в области формирования стратегии и оптимизации бизнес-модели, что позволяет достичь положительных финансовых и операционных показателей в минимальные сроки, повысить рентабельность и развить конкурентные преимущества компании. ", 
                        "link": page.team_card, 
                    },
                ],
            } %}
            {% include "../block/page/team.twig" with {
                view:"list", 
                content_prefix:prefix.section, 
                content_mod:"is--page-team-list", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"sr-only", 
                heading_level:"h2", 
                heading: "Члены команды",   

                card_view: 'team-card',
                card_mod: 'is--team-card',
                card_list: [
                    {
                        id:'team-block1',
                        name:'Основатели и партнеры',
                        list: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "position":"Head of Hospitality", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "position":"Head of Investments",
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "position":"Global Head of Engineering", 
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Михаил Логанов", 
                                "position":"Head of Finance",
                                "img": [path.img,"/default/team-all-item4.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Оксана Зубакова", 
                                "position":"Partner",
                                "img": [path.img,"/default/team-all-item5.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Алексей Дозорцев",
                                "position":"Head of Direct Investments", 
                                "img": [path.img,"/default/team-all-item6.jpg"].join(""),
                                "link": page.team_card, 
                            },
                        ],
                    },
                    {
                        id:'team-block2',
                        name:'Функциональные руководители и специалисты',
                        list: [
                            {
                                "name":"Анастасия Беляева",
                                "position":"Head of Legal", 
                                "img": [path.img,"/default/team-all-item7.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Николай Черемисов", 
                                "position":"Head of Travel & Lifestyle",
                                "img": [path.img,"/default/team-all-item8.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Алексей Климин",
                                "position":"Head of IT", 
                                "img": [path.img,"/default/team-all-item9.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Виктория Ступина", 
                                "position":"Head of Art",
                                "img": [path.img,"/default/team-all-item10.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Шамиль Вафин", 
                                "position":"Head of Security",
                                "img": [path.img,"/default/team-all-item11.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Александр Тихонов", 
                                "position":"Head of Treasury",
                                "img": [path.img,"/default/team-all-item12.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Денис Беляев", 
                                "position":"Key Account Manager, London",
                                "img": [path.img,"/default/team-all-item13.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Лейла Гамрекелидзе",
                                "position":"Key Account Manager, London", 
                                "img": [path.img,"/default/team-all-item14.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Полина Пушкарева", 
                                "position":"Key Account Manager, Monaco",
                                "img": [path.img,"/default/team-all-item15.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Наталья Харрисон", 
                                "position":"Key Account Manager, США",
                                "img": [path.img,"/default/team-all-item16.jpg"].join(""),
                                "link": page.team_card, 
                            },
                        ],
                    },
                    {
                        id:'team-block3',
                        name:'Региональные представители и Key Account Managers',
                        list: [
                            {
                                "name":"Анастасия Беляева",
                                "position":"Head of Legal", 
                                "img": [path.img,"/default/team-all-item7.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Николай Черемисов", 
                                "position":"Head of Travel & Lifestyle",
                                "img": [path.img,"/default/team-all-item8.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Алексей Климин",
                                "position":"Head of IT", 
                                "img": [path.img,"/default/team-all-item9.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Виктория Ступина", 
                                "position":"Head of Art",
                                "img": [path.img,"/default/team-all-item10.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Шамиль Вафин", 
                                "position":"Head of Security",
                                "img": [path.img,"/default/team-all-item11.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Александр Тихонов", 
                                "position":"Head of Treasury",
                                "img": [path.img,"/default/team-all-item12.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Денис Беляев", 
                                "position":"Key Account Manager, London",
                                "img": [path.img,"/default/team-all-item13.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Лейла Гамрекелидзе",
                                "position":"Key Account Manager, London", 
                                "img": [path.img,"/default/team-all-item14.jpg"].join(""),
                                "link": page.team_card, 
                            },
                        ],
                    },
                ],
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/cookies/tpl.twig" with {
            prefix:"cookies__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
	</body>
</html> 
