<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Владислав Баумгертнер"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем", 
                    "link": page.works, 
                    "active": '', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts, 
                    "active": '', 
                },
            ],
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/team.twig" with {
                view:"card", 
                content_prefix:prefix.section, 
                content_mod:"is--page-team-card", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default  is--h1", 
                heading_level:"h1", 
                heading:"Владислав Баумгертнер",  
                card_prefix: prefix.card,   
                card_mod: "is--team-item", 
                img: [path.img,"/default/team-item1.jpg"].join(""),
                position:"Партнер, основатель HeadOffice", 
                note:"<p>Владислав&nbsp;— один из&nbsp;самых успешных и&nbsp;узнаваемых топ-менеджеров в&nbsp;России с&nbsp;более чем <nobr>20-летним</nobr> опытом руководства крупнейшими российскими и&nbsp;международными компаниями. Начав свою управленческую карьеру в&nbsp;швейцарском технологическом концерне ABB, он&nbsp;затем десять лет возглавлял «Уралкалий», который является мировым лидером на&nbsp;рынке калийных удобрений. </p><p>Под его руководством компания трансформировалась из&nbsp;регионального предприятия в&nbsp;ведущего участника глобального рынка, провела IPO и&nbsp;приобрела репутацию эталонной российской публичной компании с&nbsp;одной из&nbsp;самых сильных управленческих команд. </p><p>Позднее Владислав несколько лет занимал позицию генерального директора в&nbsp;компании Global Ports, которая является крупнейшим игроком на&nbsp;рынке перевалки контейнерных грузов, руководил уникальными высокотехнологичными предприятиями по&nbsp;производству литий-ионных батарей в&nbsp;Швейцарии, а&nbsp;также возглавлял семейный офис одного из&nbsp;участников российского списка Forbes-10.</p><p>Владислав имеет безупречную личную и&nbsp;профессиональную репутацию, хорошо знаком многим клиентам HeadOffice, и&nbsp;его участие в&nbsp;проекте является гарантией качества предоставляемых HeadOffice услуг. В&nbsp;качестве партнера и&nbsp;основателя компании Владислав отвечает за&nbsp;стратегию развития, работу с&nbsp;ключевыми клиентами и&nbsp;подбор сотрудников. </p><p>Владислав имеет безупречную личную и&nbsp;профессиональную репутацию, хорошо знаком многим клиентам HeadOffice, и&nbsp;его участие в&nbsp;проекте является гарантией качества предоставляемых HeadOffice услуг. В&nbsp;качестве партнера и&nbsp;основателя компании Владислав отвечает за&nbsp;стратегию развития, работу с&nbsp;ключевыми клиентами и&nbsp;подбор сотрудников.</p>", 
            } %}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
