<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Как мы работаем"}  %}
	</head>
	<body>        
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            nav: [
                {
                    "name":"О нас", 
                    "link": page.about, 
                    "active": '', 
                },
                {
                    "name":"Наша команда", 
                    "link": page.team, 
                    "active": '', 
                },
                {
                    "name":"Наши услуги", 
                    "link": page.services, 
                    "active": '', 
                },
                {
                    "name":"Как мы работаем", 
                    "link": page.works, 
                    "active": 'is--active', 
                },
                {
                    "name":"Контакты", 
                    "link": page.contacts, 
                    "active": '', 
                },
            ],
            lang: '',
            lang: [
                {
                    "name":"Ру", 
                    "link": '', 
                    "active": 'is--active', 
                },
                {
                    "name":"En", 
                    "link": '', 
                    "active": '', 
                }
            ],
        } %}        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/works.twig" with {
                view:"header", 
                content_prefix:prefix.section, 
                content_mod:"is--page-works-header", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-works-header  is--h1", 
                heading_level:"h1", 
                heading:"Как мы работаем", 
                note_mod:"is--page-works-header-note", 
                note_level:"div", 
                note:" <p>Мы работаем по уникальной модели годовой подписки, которая открывает клиентам доступ к целому спектру сервисов по оптимальной стоимости и предоставляет возможность пользоваться лучшими предложениями на рынке без компромиссов по качеству услуг.</p><p>Мы добиваемся бескомпромиссного уровня сервиса за счет круглосуточного взаимодействия клиентов с персональными менеджерами, детального понимания потребности клиентов, четкой организации бизнес-процессов и регламентов работы, сопровождения работы подрядчиков от постановки задачи и до ее приемки, сквозной автоматизации на базе ERP, CRM и мобильного клиентского приложения.</p><p>Доверие клиентов лежит в основе нашей работы. Многоуровневый бескомпромиссный отбор сотрудников, система распределенного доступа к конфиденциальной информации клиентов и высокий уровень информационной безопасности – базовые составляющие организации нашего сервиса.</p>",  
                bg: [path.img,"/default/works-header-bg.jpg"].join(""),  
            } %}
            {% include "../block/page/works.twig" with {
                view:"contacts", 
                content_prefix:prefix.section, 
                content_mod:"is--page-works-contacts", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-works-contacts  is--h1",
                heading_level:"h2", 
                heading:"Мы там, где наши клиенты", 
                note_mod:"is--page-works-contacts-note", 
                note_level:"div", 
                note:"HeadOffice — система региональных представителей в ключевых локациях по всему миру для обеспечения безукоризненного сервиса", 
                bg: [path.img,"/default/index-about-bg.jpg"].join(""),
                map: [path.img,"/default/map-xs.svg"].join(""), 
                list: [
                    {
                        id:'city1',
                        city:'Москва',
                        country:'Россия',
                        point_x:'1169.73',
                        point_y:'251.47',
                        city_x:'1181.22',
                        city_y:'260',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер",
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Михаил Логанов", 
                                "img": [path.img,"/default/team-all-item4.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Оксана Зубакова", 
                                "img": [path.img,"/default/team-all-item5.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Алексей Дозорцев",
                                "img": [path.img,"/default/team-all-item6.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Анастасия Беляева",
                                "img": [path.img,"/default/team-all-item7.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Николай Черемисов", 
                                "img": [path.img,"/default/team-all-item8.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Алексей Климин",
                                "img": [path.img,"/default/team-all-item9.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Виктория Ступина", 
                                "img": [path.img,"/default/team-all-item10.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Шамиль Вафин",
                                "img": [path.img,"/default/team-all-item11.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Александр Тихонов", 
                                "img": [path.img,"/default/team-all-item12.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Денис Беляев",
                                "img": [path.img,"/default/team-all-item13.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Лейла Гамрекелидзе", 
                                "img": [path.img,"/default/team-all-item14.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Полина Пушкарева", 
                                "img": [path.img,"/default/team-all-item15.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Наталья Харрисон",
                                "img": [path.img,"/default/team-all-item16.jpg"].join(""),
                                "link": page.team_card, 
                            },
                        ], 
                    },
                    {
                        id:'city2',
                        city:'Киев',
                        country:'Украина',
                        point_x:'1111.43',
                        point_y:'347.42',
                        city_x:'1122.39',
                        city_y:'355',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city3',
                        city:'Лондон',
                        country:'Великобритания',
                        point_x:'931.36',
                        point_y:'330.6',
                        city_x:'942.16',
                        city_y:'338',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city4',
                        city:'Нью-Йорк',
                        country:'США',
                        point_x:'637.97',
                        point_y:'394.51',
                        city_x:'647.81',
                        city_y:'402',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city5',
                        city:'Майами',
                        country:'США',
                        point_x:'600.32',
                        point_y:'505.03',
                        city_x:'612.06',
                        city_y:'513',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city6',
                        city:'Цюрих',
                        country:'Швейцария',
                        point_x:'986.33',
                        point_y:'369.07',
                        city_x:'996.47',
                        city_y:'377',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city7',
                        city:'Вена',
                        country:'Австрия',
                        point_x:'1026.63',
                        point_y:'358.92',
                        city_x:'1037.48',
                        city_y:'367',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city8',
                        city:'Монако',
                        country:'',
                        point_x:'974.19',
                        point_y:'402.07',
                        city_x:'983.6',
                        city_y:'410',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city9',
                        city:'Форте-де-Марми',
                        country:'Италия',
                        point_x:'1005',
                        point_y:'417',
                        city_x:'1019',
                        city_y:'425',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city10',
                        city:'Пальма-де-Майорка',
                        country:'Испания',
                        point_x:'954.76',
                        point_y:'432.43',
                        city_x:'964.72',
                        city_y:'440',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city11',
                        city:'Марбелья',
                        country:'Испания',
                        point_x:'914.68',
                        point_y:'449.44',
                        city_x:'925.24',
                        city_y:'457',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city12',
                        city:'Кипр',
                        country:'',
                        point_x:'1121.15',
                        point_y:'462.8',
                        city_x:'1131.33',
                        city_y:'470',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city13',
                        city:'Дубай',
                        country:'ОАЭ',
                        point_x:'1275.39',
                        point_y:'552.67',
                        city_x:'1286.56',
                        city_y:'560',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },
                    {
                        id:'city14',
                        city:'Алма-Ата',
                        country:'Казахстан',
                        point_x:'1365.26',
                        point_y:'393.57',
                        city_x:'1375.29',
                        city_y:'402',
                        team: [
                            {
                                "name":"Кристоф Г. Ганстер", 
                                "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Мария Деюнкер", 
                                "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                                "link": page.team_card, 
                            },
                            {
                                "name":"Роланд Трим",
                                "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                                "link": page.team_card, 
                            }
                        ], 
                    },

                ],

                card_view: 'team-card',
                card_mod: 'is--team-card',
                card_list: [
                    {
                        "name":"Кристоф Г. Ганстер", 
                        "position":"Head of Hospitality", 
                        "img": [path.img,"/default/team-all-item1.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Мария Деюнкер", 
                        "position":"Head of Investments",
                        "img": [path.img,"/default/team-all-item2.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Роланд Трим",
                        "position":"Global Head of Engineering", 
                        "img": [path.img,"/default/team-all-item3.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Михаил Логанов", 
                        "position":"Head of Finance",
                        "img": [path.img,"/default/team-all-item4.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Оксана Зубакова", 
                        "position":"Partner",
                        "img": [path.img,"/default/team-all-item5.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Алексей Дозорцев",
                        "position":"Head of Direct Investments", 
                        "img": [path.img,"/default/team-all-item6.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Анастасия Беляева",
                        "position":"Head of Legal", 
                        "img": [path.img,"/default/team-all-item7.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Николай Черемисов", 
                        "position":"Head of Travel & Lifestyle",
                        "img": [path.img,"/default/team-all-item8.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Алексей Климин",
                        "position":"Head of IT", 
                        "img": [path.img,"/default/team-all-item9.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Виктория Ступина", 
                        "position":"Head of Art",
                        "img": [path.img,"/default/team-all-item10.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Шамиль Вафин", 
                        "position":"Head of Security",
                        "img": [path.img,"/default/team-all-item11.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Александр Тихонов", 
                        "position":"Head of Treasury",
                        "img": [path.img,"/default/team-all-item12.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Денис Беляев", 
                        "position":"Key Account Manager, London",
                        "img": [path.img,"/default/team-all-item13.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Лейла Гамрекелидзе",
                        "position":"Key Account Manager, London", 
                        "img": [path.img,"/default/team-all-item14.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Полина Пушкарева", 
                        "position":"Key Account Manager, Monaco",
                        "img": [path.img,"/default/team-all-item15.jpg"].join(""),
                        "link": page.team_card, 
                    },
                    {
                        "name":"Наталья Харрисон", 
                        "position":"Key Account Manager, США",
                        "img": [path.img,"/default/team-all-item16.jpg"].join(""),
                        "link": page.team_card, 
                    },
                ],   
            } %}
            {# {% include "../block/page/works.twig" with {
                view:"case", 
                content_prefix:prefix.section, 
                content_mod:"is--page-works-case", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-works-case",  
                heading_level:"h2", 
                heading:"Примеры кейсов", 
                note_mod:"is--page-works-case-note",  
                note_level:"div", 
                note:"<p>Асинхронное ритмическое поле взаимно. Можно предположить, что капиталистическое мировое общество символизирует сокращенный мнимотакт, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Open-air образует эпитет. Типическое просветляет коммунизм.</p><p>Асинхронное ритмическое поле взаимно. Можно предположить, что капиталистическое мировое общество символизирует сокращенный мнимотакт, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Open-air образует эпитет. Типическое просветляет коммунизм.</p><p>Асинхронное ритмическое поле взаимно. Можно предположить, что капиталистическое мировое общество символизирует сокращенный мнимотакт, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Open-air образует эпитет. Типическое просветляет коммунизм.Асинхронное ритмическое поле взаимно. Можно предположить, что капиталистическое мировое общество символизирует сокращенный мнимотакт, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Open-air образует эпитет. Типическое просветляет коммунизм.</p>",  
                img: [path.img,"/default/works-case-bg.jpg"].join(""),

                card_id:'works',
                card_view:'works',
                card_mod:'is--works',
                card_list: [
                    {
                        "list": [
                            {
                                id: '1',
                                name:"Подготовить ребенка к поступлению в Йельский Университет", 
                                icon: "icon-works1",
                                tabs_view:'base',
                                tabs_prefix:prefix.tabs,
                                tabs_mod:'is--step',
                                tabs_group:'',
                                tabs_count:'true',
                                tabs_list:[
                                    {
                                        "id":"tabs1",
                                        "step":"1",
                                        "name":"",
                                        "status":"active",
                                        "type":'text',
                                        "text":'<h4>Принят запрос</h4><p>В рамках нашей годовой подписки до недавнего времени считалось, что рента переворачивает умысел, как и предполагалось. Жизнь, в первом приближении, изоморфна времени. Длина вектора переворачивает естественный дедуктивный метод, отрицая очевидное.</p>',
                                    },
                                    {
                                        "id":"tabs2",
                                        "step":"2",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    
                                    {
                                        "id":"tabs3",
                                        "step":"3",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    {
                                        "id":"tabs4",
                                        "step":"4",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    {
                                        "id":"tabs5",
                                        "step":"5",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    {
                                        "id":"tabs6",
                                        "step":"6",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                ],
                            },
                            {
                                id: '2',
                                name:"Улететь в Париж на частном самолете послезавтра", 
                                icon: "icon-works2",
                                tabs_view:'base',
                                tabs_prefix:prefix.tabs,
                                tabs_mod:'is--step',
                                tabs_group:'',
                                tabs_count:'true',
                                tabs_list:[
                                    {
                                        "id":"tabs21",
                                        "step":"1",
                                        "name":"",
                                        "status":"active",
                                        "type":'text',
                                        "text":'<h4>Принят запрос</h4><p>В рамках нашей годовой подписки до недавнего времени считалось, что рента переворачивает умысел, как и предполагалось. Жизнь, в первом приближении, изоморфна времени. Длина вектора переворачивает естественный дедуктивный метод, отрицая очевидное.</p>',
                                    },
                                    {
                                        "id":"tabs22",
                                        "step":"2",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    
                                    {
                                        "id":"tabs23",
                                        "step":"3",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    {
                                        "id":"tabs24",
                                        "step":"4",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    {
                                        "id":"tabs25",
                                        "step":"5",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                ],
                            },
                            {
                                id: '3',
                                name:"Оптимизировать налоговое законодательство в Швейцарии", 
                                icon: "icon-works3",
                                tabs_view:'base',
                                tabs_prefix:prefix.tabs,
                                tabs_mod:'is--step',
                                tabs_group:'',
                                tabs_count:'true',
                                tabs_list:[
                                    {
                                        "id":"tabs31",
                                        "step":"1",
                                        "name":"",
                                        "status":"active",
                                        "type":'text',
                                        "text":'<h4>Принят запрос</h4><p>В рамках нашей годовой подписки до недавнего времени считалось, что рента переворачивает умысел, как и предполагалось. Жизнь, в первом приближении, изоморфна времени. Длина вектора переворачивает естественный дедуктивный метод, отрицая очевидное.</p>',
                                    },
                                    {
                                        "id":"tabs32",
                                        "step":"2",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    
                                    {
                                        "id":"tabs33",
                                        "step":"3",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                ],
                            },
                            {
                                id: '4',
                                name:"Построить виллу в Майми", 
                                icon: "icon-works4",
                                tabs_view:'base',
                                tabs_prefix:prefix.tabs,
                                tabs_mod:'is--step',
                                tabs_group:'',
                                tabs_count:'true',
                                tabs_list:[
                                    {
                                        "id":"tabs41",
                                        "step":"1",
                                        "name":"",
                                        "status":"active",
                                        "type":'text',
                                        "text":'<h4>Принят запрос</h4><p>В рамках нашей годовой подписки до недавнего времени считалось, что рента переворачивает умысел, как и предполагалось. Жизнь, в первом приближении, изоморфна времени. Длина вектора переворачивает естественный дедуктивный метод, отрицая очевидное.</p>',
                                    },
                                    {
                                        "id":"tabs42",
                                        "step":"2",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                    
                                    {
                                        "id":"tabs43",
                                        "step":"3",
                                        "name":"",
                                        "status":"",
                                        "type":'text',
                                        "text":'<h4>Lorem ipsum dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
                                    },
                                ],
                            },
                        ]
                    },
                ]   
            } %} #}
            {#  {% include "../block/page/about.twig" with {
                view:"history", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-history", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default  is--h1", 
                heading_level:"h2", 
                heading:"История HeadOffice", 
                note:"<p><b>До недавнего времени считалось, что рента переворачивает умысел, как и предполагалось.</b></p><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p>", 
                img: [path.img,"/default/index-about-bg.jpg"].join(""),   
            } %}
            {% include "../block/page/about.twig" with {
                view:"why", 
                content_prefix:prefix.section, 
                content_mod:"is--page-about-why", 
                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--page-default-lg  is--h1", 
                heading_level:"h2", 
                heading:"Почему HeadOffice?",
                note_mod:"  is--h4  is--page-about-why", 
                note_level:"div",  
                note:"Бизнес-модель HeadOffice предполагает абсолютную гибкость: мы можем как полностью заменить family office клиента, так и, работая на субподряде у family office клиента, усиливать его своими ресурсами и инфраструктурой.", 
                img: [path.img,"/default/index-about-bg.jpg"].join(""), 

                card_view: 'adv',
                card_mod: 'is--adv',
                card_list: [
                    {
                        "heading":"Подготовить ребенка к поступлению в Йельский Университет", 
                        "note":"устраняя проблемы взаимодействия с широким кругом специализированных подрядчиков и исключая коммерческий конфликт интересов", 
                        "img": [path.img,"/default/adv-item1.svg"].join(""),
                    },
                    {
                        "heading":"Стабильная профессиональная инфраструктура", 
                        "note":"управления и высочайший уровень сервиса и команды, недоступные single family office", 
                        "img": [path.img,"/default/adv-item2.svg"].join(""),
                    },
                    {
                        "heading":"Приобретаем услуги в интересах заказчика ", 
                        "note":"полностью берем на себя управление подрядчиком – от детального понимания потребности клиента до постановки задачи, контроля исполнения и приемки работ", 
                        "img": [path.img,"/default/adv-item3.svg"].join(""),
                    },
                    {
                        "heading":"Существенно снижаем расходы", 
                        "note":"клиента на базе годовой подписки благодаря принципу sharing economy", 
                        "img": [path.img,"/default/adv-item4.svg"].join(""),
                    },
                ],  
                text: '<h3>Рента переворачивает умысел, как и предполагалось. </h3><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p><p>В качестве интегрированной платформы, объединяющей профессиональных управляющих, экспертов и обширную сеть региональных представителей, мы предлагаем индивидуальные решения по всем аспектам жизненных потребностей, инвестиций и оперативного управления.</p>',
            } %} #}
        </main>
        
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            cookies:"true",
        }%}
        {#<script>
            $("[data-tabs-next]").on("click", function(e) {
                var $active = $(this).closest(".card__note").find(".tabs__pane.active");
                var $next = $active.next();
                console.log($active);
                var $active_tabs = $(this).closest(".card__note").find(".tabs__nav.is--step .active");
                var $next_tabs = $active_tabs.next();
                var $step = $next_tabs.find("a").data("step");


                if ($next.length) {
                    $active.removeClass("active");
                    $next.addClass("active");
                    $active_tabs.removeClass("active");
                    $active_tabs.addClass("visited");
                    $next_tabs.addClass("active");
                    $(this).closest(".card__note").find("[data-tabs-count]").text($step); 
                }
            });
            $('.card__group.is--works').on('shown.bs.collapse', function () {
                var all = $(this).find('.collapse.in .tabs__item.is--step').length
                $(this).find('.collapse.in [data-tabs-count-all]').text(all);
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var href = $(e.target).attr('href');
                var $curr = $(this).closest(".card__note").find(".tabs__nav.is--step a[href='" + href + "']").parent();
                var $currStep = $(this).closest(".card__note").find(".tabs__nav.is--step a[href='" + href + "']").data("step");

                $(this).closest(".card__note").find('.tabs__item.is--step').removeClass("active");
                $(this).closest(".card__note").find('.tabs__item.is--step').removeClass("visited");

                $curr.addClass("active");
                $curr.prevAll().addClass("visited");

                $(this).closest(".card__note").find("[data-tabs-count]").text($currStep);
            });

        </script>#}
	</body>
</html> 