.map__{
	&block{
		display: block;
		width: 100%;
		height: auto;
		min-height: 40vw;
		max-height: 748px;
		max-height: 679px;
		@supports (display: grid){
			min-height: auto;
		}
	}
	&item{
		cursor: pointer;
		rect{
			fill: @primary;
			transition: @trs-site;
			//transition:transform 0s, @trs-site;
		}
		text{
			font-weight: 400;
			fill: @primary;
			font-size: 11px;
			line-height: 140%;
			transition: @trs-site;
			//transition: @trs-site, font-weight 0.5s ease-in-out 1s;
		}
		&:hover{						
			text{
				font-size: 14px;
				
			}
			rect{
				width: 12px;
				height: 12px;
				transform: translate(-3px, -3px);
			}
		}
		[aria-expanded="true"] &{			
			text{
				font-size: 14px;
				//font-weight: 700;
				text-shadow:
				    -0.5px -0.5px 0 @primary,
				    0.5px -0.5px 0 @primary,
				    -0.5px 0.5px 0 @primary,
				    0.5px 0.5px 0 @primary;

			}
			rect{
				width: 12px;
				height: 12px;
				transform: translate(-3px, -3px);
			}
		}
	}
}