.map__{
	&block{
		display: block;
		width: 100%;
		height: auto;
		min-height: 40vw;
		max-height: 748px;
		max-height: 679px;
		@supports (display: grid){
			min-height: auto;
		}
		.media-breakpoint-down(@xl; {
			width: auto;
			height: 679px;
		});
	}
	&item{
		cursor: pointer;
		rect{
			fill: @primary;
			transition: @trs-site;
			//transition:transform 0s, @trs-site;
		}
		text{
			font-weight: 400;
			fill: @primary;
			font-size: 11px;
			line-height: 140%;
			transition: @trs-site;
			//transition: @trs-site, font-weight 0.5s ease-in-out 1s;
		}
		&:hover{						
			text{
				font-size: 14px;
				
			}
			rect{
				width: 12px;
				height: 12px;
				transform: translate(-3px, -3px);
			}
		}
		[aria-expanded="true"] &{			
			text{
				font-size: 14px;
				//font-weight: 700;
				/*text-shadow:
				    -0.5px -0.5px 0 @primary,
				    0.5px -0.5px 0 @primary,
				    -0.5px 0.5px 0 @primary,
				    0.5px 0.5px 0 @primary;*/

			}
			rect{
				width: 12px;
				height: 12px;
				transform: translate(-3px, -3px);
			}
		}
		.media-breakpoint-down(@xl; {
			text,rect{
				opacity: 0;
			}
			[aria-expanded="true"] &{
				text,rect{
					opacity: 1;
				}
			}
		});
	}
	&dropdown{
		&{
			font-weight: 500;
			font-size: 1.11rem;
    		line-height: 125%;
			color: @default;
    	}
		&-trigger{
			display: block;
			color: @default;
			padding: 10px 20px 10px 0px;
    		border-bottom: 1px solid #CCD9F1;
    		.icon-drop-open();
    		background-position: center right;
    		&[aria-expanded="true"]{
    			.icon-drop-close();
    		}
		}
		&-menu{
			padding: 10px;
			width: 100%;
			height: 180px;
			overflow: auto;
			a{
				display: block;
				color: @default;
				margin-bottom: 5px;
			}
		}
	}
}