.page-header__{
	&heading{
		.btn__link-back + &{
			padding-top: 15px;
			.media-breakpoint-up(@md; {
				padding-top: 3px;
			});
		}
		&.is--page{
			&-header{
				&-note{
					max-width: 817px;
					p, div{
						margin-bottom: 15px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}				
			&-default{				
				&-header{
					margin-bottom: 25px;
					.media-breakpoint-up(@md; {
						margin-bottom: 20px;
					});
				}
				&-note{
					line-height: 144%;
					max-width: 817px;
					.media-breakpoint-up(@md; {
						line-height: @site_lh;
					});
					p, div{
						margin-bottom: 15px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
			&-index{
				&-header{
					max-width: 850px;
					margin-bottom: 35px;
				}
				&-about{

				}
				&-contacts{
					margin-bottom: 17px;
					&-note{
						line-height: 143%;
						color: @success;
						a{
							color: inherit;
						}
					}
				}
			}
			&-about{
				&-header{
					margin-bottom: 25px;
					&-note{
						line-height: 144%;
					}
				}
				&-mission{
					line-height: 130%;
				}
				&-history{
					margin-bottom: 27px;
				}
				&-why{
					margin-bottom: 15px;
					.media-breakpoint-up(@md; {
						margin-bottom: 25px;
					});
				}
			}
			&-team{
		    	&-head{
					margin-bottom: 25px;
					.media-breakpoint-up(@md; {
		    			margin-bottom: 40px;
					});
		    	}
			}
			&-services{
				&{
					margin-bottom: 20px;
					.media-breakpoint-down(@md; {
						font-size: 2rem;
						line-height: 115%;
					});					
				}
				&-card{
					margin-bottom: 7px;
				}
				&-team{
					margin-bottom: 17px;
					font-size: 1.429rem;
					line-height: 110%;
					&-note{
						max-width: 850px;
						margin-bottom: 20px;
						line-height: 144%;
					}
					.media-breakpoint-up(@md; {
						margin-bottom: 25px;
						font-size: 1.625rem;
						&-note{
							line-height: @site_lh;
							margin-bottom: 30px;
						}
					});	
				}
			}
	    	&-works{
	    		&-contacts{
	    			font-size: 1.250rem;
	    			line-height: 130%;
	    		}
	    		&-case{
	    			max-width: 850px;
	    			margin-bottom: 47px;
	    		}
	    	}
		}
		&.is--modal{
			margin-bottom: 20px;
			padding-right: 30px;
			.media-breakpoint-up(@md; {
				margin-bottom: 40px;
				padding-right: 0;
				&.is--page-basket-order{
					margin-bottom: 13px;
				}
			});
		}
		&.is--uikit{
			font-size: 2.571em;
			line-height: 140%;
		}
	}
}