.page-header__{
	&heading{
		.btn__link-back + &{
			padding-top: 15px;
			.media-breakpoint-up(@md; {
				padding-top: 3px;
			});
		}
		&.is--page{
			&-header{
				margin-bottom: 22px;
				&-note{
					max-width: 805px;
					.media-breakpoint-up(@md; {
						line-height: 130%;
					});
					p, div{
						margin-bottom: 15px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}				
			&-default{				
				&-header{
					margin-bottom: 25px;
					.media-breakpoint-up(@md; {
						margin-bottom: 20px;
					});
				}
				&-note{
					max-width: 817px;
					/*.media-breakpoint-up(@md; {
						line-height: @site_lh;
					});*/
					p, div{
						margin-bottom: 20px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
			&-index{
				&-header{
					margin-bottom: 25px;
					background-color: @site_bg;
					.media-breakpoint-up(@md; {
						margin-bottom: 37px;
						max-width: 850px;
						margin-left: 1px;
					});
				}
				&-about{

				}
				&-contacts{
					margin-bottom: 17px;
					&-note{
						line-height: 143%;
						color: @success;
						a{
							color: inherit;
						}
					}
				}
			}
			&-about{
				&-header{
					margin-bottom: 25px;
					&-note{
						line-height: 144%;
					}
				}
				&-mission{
					line-height: 130%;
				}
				&-history{
					margin-bottom: 20px;
					.media-breakpoint-up(@md; {
						margin-bottom: 36px;
						//font-weight: 500;
						//font-size: 2.375rem;
					});
				}
				&-why{
					margin-bottom: 20px;
				}
			}
			&-team{
		    	&-head{
					margin-bottom: 25px;
					.media-breakpoint-up(@md; {
		    			margin-bottom: 40px;
					});
		    	}
			}
			&-services{
				&{
					margin-bottom: 27px;
					.media-breakpoint-down(@md; {
						font-size: 2rem;
						line-height: 115%;
						margin-bottom: 20px;
					});					
				}
				&-card{
					margin-bottom: 7px;
				}
				&-team{
					margin-bottom: 17px;
					//font-size: 1.429rem;
					//line-height: 110%;
					/*&-note{
						max-width: 850px;
						margin-bottom: 20px;
						line-height: 144%;
						color: @success;
					}*/
					.media-breakpoint-up(@md; {
						margin-bottom: 40px;
						//font-size: 1.625rem;
						/*&-note{
							line-height: @site_lh;
							margin-bottom: 30px;
						}*/
					});	
				}
			}
	    	&-works{
	    		&-header{
	    			margin-bottom: 25px;
	    			.media-breakpoint-up(@md; {
	    				margin-bottom: 28px;
	    			});

	    		}
	    		&-contacts{
	    			margin-bottom: 15px;
	    			&-note{
	    				max-width: 660px;
	    				font-size: @site_fs_xs;
	    				.media-breakpoint-up(@md; {
	    					font-size: inherit;
	    				});
	    			}
	    		}
	    		&-case{
	    			margin-bottom: 15px;
	    			font-size: 1.429em;
	    			line-height: 110%;
	    			.media-breakpoint-up(@md; {
	    				.heading3();
	    				margin-bottom: 40px;
	    			});
	    		}
	    	}
	    	&-contacts{
	    		margin-bottom: 20px;
	    		.media-breakpoint-up(@md; {
	    			margin-bottom: 32px;	
	    		});
	    	}
		}
		&.is--modal{
			margin-bottom: 20px;
			padding-right: 30px;
			.media-breakpoint-up(@md; {
				margin-bottom: 40px;
				padding-right: 0;
				&.is--page-basket-order{
					margin-bottom: 13px;
				}
			});
		}
		&.is--uikit{
			font-size: 2.571em;
			line-height: 140%;
		}
	}
}