@maket: @site_bg url(/img/maket/services.jpg) no-repeat center 0px;
@maket: @site_bg url(/img/maket/team.jpg) no-repeat center 0px;
@maket: @site_bg url(/img/maket/team-card.jpg) no-repeat center 0px;
@maket: @site_bg url(/img/maket/services-card.jpg) no-repeat center 0px;
@maket: @site_bg url(/img/maket/about.jpg) no-repeat center 0px;
@maket: @site_bg url(/img/maket/works.jpg) no-repeat center 0px;
@maket: @site_bg url(/img/maket/navbar.jpg) no-repeat center 0px;
@maket: @site_bg url(/img/maket/about.jpg) no-repeat center 0px;
@maket_xs: @site_bg url(/img/maket/about-xs.jpg) no-repeat center 0;
@maket: @site_bg url(/img/maket/index.jpg) no-repeat center 0px;
@maket_xs: @site_bg url(/img/maket/index-xs.jpg) no-repeat center 0;
@opacity: 0.7;
body{
	//background: @maket_xs; 
	//background: @maket;
	//opacity: @opacity;    
	//background-position: center 26px;  
}  