<div class="{{prefix}}block">
	<div class="{{prefix}}container container">
		<p>This website uses cookies to ensure you get the best experience on our website. By using our site you consent cookies. <a href="#">Learn more</a>.</p>
		{% include "../button/btn.twig" with {
			view:"btn",
			type:"button",  
			prefix:"btn__", 
			mod:"", 
			icon:'', 
			attr: '',
			link:"", 
			name:"ОК" 
		} %}
	</div>
</div>